<div class="home__wrapper">
  <div class="new-posts__wrapper">
    <div class="feature-post">
      <img class="post-image" style="background-image: url(http://via.placeholder.com/600x300);" />
      <div class="post-content">
        <div class="sound-cloud-tag">
          <i class="fa fa-soundcloud" aria-hidden="true"></i>
        </div>
        <img class="post-author" src="http://via.placeholder.com/50x50" />
        <a href="/post.html" class="post-title"><h2><%= lorem.words 10 %></h2></a>
        <h3 class="post-date"><%= lorem.date %></h3>
        <div class="tags-time">
          <div class="tags">
            <a href="#" class="tag"><%= lorem.word %></a>
            <a href="#" class="tag"><%= lorem.word %></a>
          </div>
          <div class="post-time">
            <i class="fa fa-clock-o"></i>
            <span class="time">25 min</span>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-posts">
      <div class="secondary-post">
        <div class="post-content">
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="/post.html" class="post-title"><h2><%= lorem.words 10 %></h2></a>
          <div class="post-bottom">
            <h3 class="post-date"><%= lorem.date %></h3>
            <div class="tags-time">
              <div class="tags">
                <a href="#" class="tag"><%= lorem.word %></a>
                <a href="#" class="tag"><%= lorem.word %></a>
              </div>
            </div>
          </div>
        </div>
        <img class="post-image" style="background-image: url(http://via.placeholder.com/200x300);" />
      </div>
      <div class="secondary-post">
        <div class="post-content">
          <div class="sound-cloud-tag">
            <i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="/post.html" class="post-title"><h2><%= lorem.words 10 %></h2></a>
          <div class="post-bottom">
            <h3 class="post-date"><%= lorem.date %></h3>
            <div class="tags-time">
              <div class="tags">
                <a href="#" class="tag"><%= lorem.word %></a>
                <a href="#" class="tag"><%= lorem.word %></a>
              </div>
              <div class="post-time">
                <i class="fa fa-clock-o"></i>
                <span class="time">25 min</span>
              </div>
            </div>
          </div>
        </div>
        <img class="post-image" style="background-image: url(http://via.placeholder.com/200x300);" />
      </div>
    </div>
    <div class="posts">
      <ul class="posts">
        <% 3.times do %>
        <li class="post">
          <img class="post-image" style="background-image: url(http://via.placeholder.com/200x125);" />
          <div class="post-content">
            <div class="post-top">
              <div class="sound-cloud-tag">
                <i class="fa fa-soundcloud" aria-hidden="true"></i>
              </div>
              <img class="post-author" src="http://via.placeholder.com/50x50" />
              <a href="/post.html" class="post-title"><h2><%= lorem.words 13 %></h2></a>
            </div>
            <div class="post-bottom">
              <h3 class="post-date"><%= lorem.date %></h3>
              <div class="tags-time">
                <div class="tags">
                  <a href="#" class="tag"><%= lorem.word %></a>
                  <a href="#" class="tag"><%= lorem.word %></a>
                </div>
                <div class="post-time">
                  <i class="fa fa-clock-o"></i>
                  <span class="time">25 min</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
        <li class="post no-image">
          <div class="post-content">
            <div class="post-top">
              <img class="post-author" src="http://via.placeholder.com/50x50" />
              <a href="/post.html" class="post-title"><h2><%= lorem.words 10 %></h2></a>
            </div>
            <div class="post-bottom">
              <h3 class="post-date"><%= lorem.date %></h3>
              <div class="tags-time">
                <div class="tags">
                  <a href="#" class="tag"><%= lorem.word %></a>
                  <a href="#" class="tag"><%= lorem.word %></a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-navigation">
    <%= link_to(
     'Read More Posts ',
     '/posts.html',
      class: "read-more"
     ) %>
    <img src="/images/small-bar.svg" />
  </div>
  <div class="sponsors">
    <% 5.times do %>
    <a href="#" class="sponsor" target="_blank">
      <img src="http://via.placeholder.com/225x100" />
    </a>
    <% end %>
  </div>
  <div class="page-navigation">
    <%= link_to(
     'See More Sponsors ',
     '/sponsors.html',
      class: "see-more"
     ) %>
  </div>
</div>
