<div class="posts__wrapper">
  <div class="tag-list">
    <h6>Tags</h6>
    <a href="#"><%= lorem.word %></a>
    <a href="#"><%= lorem.word %></a>
    <a href="#"><%= lorem.word %></a>
    <a href="#"><%= lorem.word %></a>
  </div>
  <ul class="posts">
    <% 8.times do %>
    <li class="post">
      <img class="post-image" style="background-image: url(http://via.placeholder.com/200x125);" />
      <div class="post-content">
        <div class="post-top">
          <div class="sound-cloud-tag">
            <i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <img class="post-author" src="http://via.placeholder.com/50x50" />
          <a href="/post.html" class="post-title"><h2><%= lorem.words 13 %></h2></a>
        </div>
        <div class="post-bottom">
          <h3 class="post-date"><%= lorem.date %></h3>
          <div class="tags-time">
            <div class="tags">
              <a href="#" class="tag"><%= lorem.word %></a>
              <a href="#" class="tag"><%= lorem.word %></a>
            </div>
            <div class="post-time">
              <i class="fa fa-clock-o"></i>
              <span class="time">25 min</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>

  <div class="page-navigation">
    <div class="page-links">
      <%= link_to(
       ' Older Posts ',
       '#',
        class: "older-posts"
       ) %>
      <%= link_to(
       'Newer Posts ',
       '#',
        class: "newer-posts"
       ) %>
     </div>
    <img src="/images/small-bar.svg" />
  </div>
</div>
